﻿body {
    font-family: sans-serif;
    font-size: 0.8rem;
}
.container {
    display: table;
    float: left;
}
.row {
    display: table-row;
}
label, input {
    margin: 5px;
}
label, input, button {
    display: table-cell;
}
.container, #map-canvas {
    margin: 1.5em;
    padding: 0;
}
#map-canvas {
    border: thin solid #999999;
    float: left;
    height: 250px;
    width: 250px;
    margin: 0px;
    padding: 0px;
}