﻿body {
    font-family: sans-serif;
    font-size: 0.8rem;
}
.container {
    display: table;
    margin: 1.5em;
}
.row {
    display: table-row;
}
label, input {
    margin: 5px;
}
label, input, button {
    display: table-cell;
}