﻿<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8" />
   <title>VueJs ButtonCounter</title>
   <!-- script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script -->
   <script src="./20200301o0917.vue.js"></script>
</head>

<body>

 <p id="id20200313o1046">
            <a href="./../../pages/demos.html" id="id20200313o1048">Home</a>
 </p>

 <div id="tuto">
   <button-clicked v-bind:initial-count="0"></button-clicked>
 </div>

 <script>
   Vue.component('button-clicked', {
      props: [ "initialCount" ],
      data: () => ({
         count: 0,
      }),
      template: `<button v-on:click="onClick">Clicked {{ count }} times</button>`,
      computed: {
         countTimesTwo() {
            return this.count * 2;
         }
      },
      watch: {
         count(newValue, oldValue) {
           console.log(`The value of count is changed from ${oldValue} to ${newValue}.`);
         }
      },
      methods: {
         onClick() {
            this.count += 1;
         }
      },
      mounted() {
         this.count = this.initialCount;
      }
   });

   new Vue({
      el: '#tuto',
   });
 </script>

</body>
</html>
<!--
   file : 20200301°1021
   summary :
   note : Quick experiment after https://en.wikipedia.org/wiki/Vue.js [ref 20200301°0914]
-->
