﻿body { font-family:Arial; }
h1 { color:Green; /* font-style:italic; */ }
h2 { color:SeaGreen; } /* Turquoise */
div.navi {
      border:2px solid LightGray;
      line-height:1.7em;
      border-radius: 0.9em;
      padding: 0.4em;
    }
div.navi a {
        border:2px solid LightGray;
        border-radius:0.9em;
        padding-left:0.4em; padding-right:0.4em;
      }
.selflink { text-decoration: none; background-color: LightGreen; }

img.imglogo { position:absolute; right:1.1em; top: 0.1em; }

table.ModelTable { border:2px solid Red; border-collapse:collapse;
             margin-left:auto; margin-right:auto; width:80%; }
table.ModelTable tr { border:2px solid Green; }
table.ModelTable tr td { background-color: Transparent;
                         padding: 2.0 em;
                         border:2px solid LightGray;
                       }
