/*!
 * id : 20200229°0403 [spawning 20200229°0405]
 * license : The MIT/X11 License
 * authors : Norbert C. Maier
 * encoding : UTF-8-with-BOM
 */

body { font-family:Verdana,Geneva,sans-serif; /* wide sans-serife stack */
        /* background-color:#e4f4fc; */ /* #a4e4ec; */
}

iframe.Listing {
         font-family: monospace, monospace;
         border:2px solid LightGreen;
         border-radius:0.7em;
         padding:0.4em 1.1em 0.4em 1.1em;
}

/* eof */
