﻿/**
 * file 20230207°1811
 */

/* Media Query [seq 20230207°1921] */
body {
   background-color: Yellow;                           /* Kleine 550 Pixel */
}
@media screen and (min-width: 550px) {
   body {
      background-color: #f04030;                       /* Ab 550 Pixel */ /* #f00090 */
   }
}
@media screen and (min-width: 700px) {
   body {
      background-color: #b04070;                       /* Ab 550 Pixel */ /* #d000b0 */
   }
}
@media screen and (min-width: 850px) {
   body {
      background-color: #7040b0;                       /* #b000d0 */
   }
}
@media screen and (min-width: 1000px) {
   body {
      background-color: #3040f0;                       /* #9000f0 */
   }
}

.parent {
   display: flex;
   min-height: 300px;                  /* Or whatever */
   border:1px solid Red;               /* Debug-View */
   background-color: Moccasin;         /* Debug-View */
   padding: 1.1em;
   gap: 1.1em;                         /* ! */
   flex-wrap: wrap;                    /* Wichtig */
}

.child {
   width: 160px;                       /* Or whatever */
   height: 160px;                      /* Or whatever */
   margin: auto;                       /* Magic! */
   border:1px solid Green;             /* Debug-View */
   background-color: Orange;           /* Debug-View */
}
