﻿rect {
    stroke-width: 4;
    fill: #FFFFFF;
    stroke: #3080D0;
}
#circle:hover {
    cursor: pointer;
}
#circle {
    fill-opacity: 0.5;
    stroke-width: 4;
    fill: #3080D0;
    stroke: #3080D0;
}
#circle.active {
    fill: Red; /* #000000; */
}
text {
    fill: #FFFFFF;
    font-family: sans-serif;
}
