/**
 * id          : file 20230224°1531 banderole.css
 * summary     : CSS based banderole
 * license     : MIT License
 * copyright   : © 2023 - 2024 Norbert C. Maier
 * authors     : ncm
 * chain       : file 20210503°1711 terminaljs/aloha.html
 * status      : Initial
 * todo        : Replace numbers by variables and calculate the exact dimensions [todo 20230224°1605]
 * encoding    : UTF-8-without-BOM
 */

/**
 * ruleset 20230224°1551 (after 20210510°1515) Ribbon
 * chain : After https://codepo8.github.io/css-fork-on-github-ribbon/ [ref 20210510°1512]
 */
#Fork_Me_On_GitHub a { background:Tomato; color:White; text-decoration:none;
                       font-family:arial,sans-serif; text-align:center; font-weight:bold;
                       padding:6px 35px 6px 15px; font-size:1.0rem; line-height:1.6rem;
                       position:relative; transition:0.5s;
                      }

#Fork_Me_On_GitHub a:hover { background:Orange; color:SeaGreen; }

#Fork_Me_On_GitHub a::before,
#Fork_Me_On_GitHub a::after { content:""; width:100%; display:block; position:absolute;
                               top:1px; left:0; height:1px; background:Lime;
                             }

#Fork_Me_On_GitHub a::after { bottom:1px; top:auto; }

@media screen and (min-width:700px) {
   #Fork_Me_On_GitHub { position:fixed; display:block; top:0; right:0;
                         width:200px; height:200px; overflow:hidden;
                         position:absolute; z-index:9001;
                      }
   #Fork_Me_On_GitHub a {
                          width:200px; position:absolute; right:-65px; top:55px;
                          transform:rotate(45deg); -webkit-transform:rotate(45deg);
                          -ms-transform:rotate(45deg); -moz-transform:rotate(45deg);
                          -o-transform:rotate(45deg); box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
                         }
}


/**
 * ruleset 20230224°1601 (after 20230224°1551 simplified)
 * subject : Crosstext, experimental
 * chain : After https://codepo8.github.io/css-fork-on-github-ribbon/ [ref 20210510°1512]
 */
#Big_Cross_Text a { background:Yellow; color:Blue; text-decoration:none;
                    font-family:arial,sans-serif; text-align:center; font-weight:bold;
                    padding:6px 35px 6px 15px; font-size:1.7rem; line-height:2.1rem;
                    position:relative; transition:0.6s;
                  }

#Big_Cross_Text a:hover { background:Chartreuse; color:Purple; }

#Big_Cross_Text a::before,
#Big_Cross_Text a::after { content:""; width:100%; display:block; position:absolute;
                           top:1px; left:0; height:1px; background:Lime;
                         }

#Big_Cross_Text a::after { bottom:1px; top:auto; }

@media screen and (min-width:600px) {
   #Big_Cross_Text   {
                       position:fixed; display:block; top:0; right:0;
                       width:600px; height:600px; overflow:hidden;
                       position:absolute; /* z-index:-1; */                 /*  z-index needs be smaller 0 to let the navi bar be on top */
                       border:1px dotted Transparent;                       /* Gray */ /* Debug */
                     }
   #Big_Cross_Text a {
                       width:600px; position:absolute; right:-130px; top:160px;
                       transform:rotate(45deg); -webkit-transform:rotate(45deg);
                       -ms-transform:rotate(45deg); -moz-transform:rotate(45deg);
                       -o-transform:rotate(45deg); box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
                      }
}

/* eof */
