/**
 * id          : file 20230224°1521 (after 20230220°0907) navibars.css
 * summary     : Navigation bar(s) based on list elements
 * license     : MIT License
 * copyright   : © 2023 - 2024 Norbert C. Maier
 * authors     : ncm
 * chain       : file 20230220°0907 daftari/css/navibars.css
 * status      : First humble implementation
 * todo        : Implement second level dropdown items
 * reference   : CSS-Tricks article '::before vs :before' [ref 20230225°1212]
 *                https://css-tricks.com/to-double-colon-or-not-do-double-colon/
 * encoding    : UTF-8-without-BOM
 */

body { font-family:Sans-Serif; }

/**
 * ruleset 20230220°0911 'local navi'
 * summary :
 */
div.Local123Navi { position:relative; z-index:9777; /* try */ }
div.Local123Navi ul {
   padding-left:0;                                     /* Overwrite default style sheet 40 px */
   display:table-cell;                                 /* Hm .. possibly find some alternative */
   line-height:0.9em;
   background-color:PaleGreen;                         /* Chartreuse Gold LightCyan Aquamarine PowderBlue */
   border-radius:0.7em;
   list-style-type:none;                               /* */
   position:relative; z-index:9777; /* try */
}

div.Local123Navi::before { font-size:3.1em; content: "☞"; position:relative; top:-0.5em; float:left; color:Green; }

div.Local123Navi li { float:left; padding:0.4em 0.4em 0.4em 0.4em; z-index:9777; position:relative; }

div.Local123Navi li:hover { background-color: Yellow; }

div.Local123Navi li:first-of-type::after { font-size:large; content: "\00a0\00a0→"; }  /* '\00a0' is the Unicode code point of a non-breaking space: */

div.Local123Navi a.LocalSelf { font-weight:bold; text-decoration:none; pointer-events:none; cursor:default; }

div.Local123Navi li:last-of-type a { padding-right:0.4em; }

div.Local123Navi + h1 { clear:both; } /* The 'adjacent sibling' combinator */

/* div.Local123Navi .FontCode { background-color:Gold; font-family:Monospace monospace; color:Gray; } */ /* Overwrite the original color rose */

/* eof */
