﻿body {
    font-family: sans-serif;
    font-size: 0.8rem;
}
ul {
    list-style: none;
}
#target {
    background-color: #EFEFEF;
    border: thin solid #999999;
    width: 700px;
    min-height: 200px;
    padding: 0.5em;
}
.thumbnail {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
