﻿/**
 * This file may hold local styles
 *
 * id : file 20200225°1355 [after 20200105°0141]
 * encoding : UTF-8-with-BOM
 */

/* span.nonFat { font-weight:normal; } */ /* rule 20200105°0531 */

/* ul.Bullet22Icons {  } */ /* rule 20200105°0533 */ /* 'background-size:32px;' seems not working */
/* ul.Bullet22Icons > li { min-height:32px; padding:1px 1px 1px 40px; } */

/* p.pCheshire { float:right; border:1px solid transparent; max-width:161px;
              color:Green; font-size:small; line-height:normal; text-align:center;
            } */ /* rule 20200107°0111 */

/* .ClearFloat { clear:both; } */ /* rule 20200202°0341 just a helper */
/* .WhiteNoWrap { white-space: nowrap; } */ /* rule 20200202°1031 */

/* rule 20200201°0021 This shall allow icons in text in iconFloat22Left paragraphs.
     Sorrily, it is not strong enough, and we need use inline-style anyway. */
/* .IconFloat22Revert { float:none; margin:0 0 0 0; } */ /* border:3px solid red; */

/* .IconFloat22NormalText { position:relative; top:2px; } */ /* rule 20200201°0023 linke icon inside normal flow text */

/* rule 20200109°0251 toggle visibility for printing with background info */
/* .MetaInfo { display:none; color:Orchid; font-family:Monospace, Monospace; font-style:italic; } */

/* .DraftText { font-size:small; font-style:italic; color:Gray; line-height:1.1em; } */ /* rule 20200202°1033 */

/* ruleset 20200201o0041 */
/*
.ToggleVisibilityOff { display:none; }
.ToggleVisibilityOn { }
*/

/* p.SeparatorPara { text-align:center; margin:2.7em 0 -0.1em 0; } */ /* rule 20200201°0051 */

/* p.CodeSnippetSignature { font-size:small; font-style:italic; margin-top:-1.1em; text-align:right; padding-right:1.1em; } */ /* 20200201°0211 */

/* div.LinkBlock { display:table-cell; border:3px solid LightGray; border-radius:0.7em; padding:0 0 0 1.7em; } */ /* rule 20200201°1511 */

/* div.BoxCodeResult { display:table-cell; border:3px solid LightGray; border-radius:0.7em; padding:0 1.1em 0 1.1em; } */ /* rule 20200201°1513 */

/* .CodeBox { line-height:1.5em; } */ /* check */

/* eof */
